<h1><%= pluralize(@projects.count, 'Project' ) %> Available</h1>

<p>The following projects are still accepting investors:
</p>
<div class="row">
  <div class="col-md-6 col-sm-6">

  </div>
  <div class="col-md-3 col-sm-4">
    <%= link_to "New Project", projects_new_path, class: "btn btn-outline-success" %>
  </div>
</div>

<br>
<br>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-8 col-sm-10">
      <h3><%= link_to project.title, project_path(project) %></h3>
      <p><%= truncate(project.description, length: 100, separator: ' ') %></p>
      <p>Amount pledged: <%= number_to_currency(project.funding) %></p>
      <% if goal_reached(project) %>
        <div class="row">
          <div class="col-sm-6">
            <p>Funding goal: <%= number_to_currency(project.goal) %></p>
          </div>
          <div class="col-sm-6">
            <h5 class="goal-achieved">GOAL ACHIEVED!!</h5>
          </div>
        </div>
      <% else %>
        <p>Funding goal: <%= number_to_currency(project.goal) %></p>
      <% end %>

      <p>Days remaining: <%= days_left(project.deadline) %></p>
      <hr>
    </div>

  <% end %>
</div>
