<h1><%= pluralize(@projects.count, 'Project' ) %> Available</h1>

<p>The following projects are still accepting investors:
</p>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-8 col-sm-10">
      <h3><%= link_to project.title, project_path(project) %></h3>
      <p><%= truncate(project.description, length: 100, separator: ' ') %></p>
      <p>Amount pledged: <%= number_to_currency(project.funding) %></p>
      <p>Funding goal: <%= number_to_currency(project.goal) %></p>
      <p>Days remaining: <%= days_left(project.deadline) %></p>
    </div>
  <% end %>
</div>
